:root {
  --primary: rgb(20, 20, 20);
  --primaryTransparent: rgba(0, 0, 0, 0.9);
  --light: #F3F3F3;
  --dark: 	#383838;
  --accent: #ffb400;
}

body{
  margin: 0;
  padding: 0;
  background-image: url(photos/movies2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* HEADER */
header {
  padding: 0 10px;
  position: fixed;
  top: 0;

  width: 100%;
  margin-bottom: 0px;  
}

.logo {

  object-fit: cover;
  width: 100px;
  max-height: 100%;
  
  padding-left: 0px;
  padding-top: 10px;  
}

.logo img {  
  height: 35px;     
}

#logo {
  color: #ffb400;  
  margin: 0; 
  padding: 0; 
}
/* HEADER */

.container{
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: 1fr;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: auto;
}

h1{
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
}

.sign-in-form{
  border-radius: 5px;
  background-color: var(--primaryTransparent);
  padding: 70px;
  min-width: 350px;
  max-width: 350px;
  grid-column: 3;
  grid-row: 1;
}

input[type=text], input[type=password]{
  width: 100%;
  padding: 18px 20px;
  margin: 0 0 20px 0;
  font-size: 14px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  border-color: var(--dark);
  background-color: var(--dark);
  color: var(--light);
  box-sizing: border-box;
}


input[type=submit] {
  width: 100%;
  background-color: var(--accent);
  color: var(--light);
  font-size: 18px;
  padding: 18px 20px;
  margin-top: 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type=checkbox]{
  margin-top: 10px;
}

input[type=checkbox]{
  transform: scale(1.2);
  margin-right: 6px;
}

label{
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

@media (max-width: 600px){
  body{
    background-image: none;
  }
  
  .container{
    display: block;
    background-color: var(--dark);
    overflow: hidden;
  }

  .sign-in-form{
    max-width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 40px;
    padding-top: 100px;
    grid-template-columns: 1;
  }
}